<!DOCTYPE html>
<html ng-app="ch13App">
<head>
    <meta charset="UTF-8">
    <title>Chapter 13 (Controllers)</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap/bootstrap-theme.css"/>
    <script src="/angular/angular.js"></script>
    <script src="ch13_main.js"></script>
</head>
<body ng-controller="viewCtrl">
<div class="well">
    <div class="radio" ng-repeat="button in ['01-08', '09-14']">
        <label ng-cloak>
            <input type="radio" ng-model="viewChapter.mode" value="{{button}}" ng-checked="$last">{{button}}</input>
        </label>
    </div>
</div>
<div ng-switch on="viewChapter.mode">
    <div ng-switch-when="01-08">
        <script src="ch13_first.js"></script>
        <ng-include src="'ch13_first.html'"></ng-include>
    </div>
    <div ng-switch-when="09-14">
        <script src="ch13_second.js"></script>
        <ng-include src="'ch13_second.html'"></ng-include>
    </div>
    <div ng-switch-default>
        <script src="ch13_second.js"></script>
        <ng-include src="'ch13_second.html'"></ng-include>
    </div>
</div>
</body>
</html>