<div ng-controller="ch13Ctrl">
    <h4 class="text-success"> # exam.13-4</h4>
    <div class="well">
        <label>Select a City:</label>
        <select name="" id="" ng-options="city for city in cities" ng-model="city">
        </select>
    </div>

    <h4 class="text-success"> # exam.13-3</h4>
    <div class="well">
        <p>The city is : {{city}}</p>
        <p>The country is : {{getCountry() || "Unknown"}}</p>
    </div>
</div>

<h4 class="text-success"> # exam.13-5,6,7,8</h4>
<div class="well" ng-controller="ch13_5Ctrl">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="zip"/>
    </div>
    <button class="btn btn-primary" ng-click="setAddress('billingZip', zip)">Save Billing</button>
</div>
<div class="well" ng-controller="ch13_5Ctrl">
    <h4>Shipping Zip Code</h4>

    <div class="form-group">
        <input type="text" class="form-control" ng-model="zip"/>
    </div>
    <button class="btn btn-primary" ng-click="copyAddress()">Use Billing</button>
    <button class="btn btn-primary" ng-click="setAddress('shippingZip', zip)">Save Shipping</button>
</div>