/* 12-6
      form .ng-invalid-required.ng-dirty { background-color: lightpink; }
      form .ng-invalid-email.ng-dirty { background-color: lightgoldenrodyellow;}
      form .ng-valid.ng-dirty { background-color: lightgreen; }
      span.summary.ng-invalid { color: red; font-weight: bold; }
      span.summary.ng-valid { color: green; }
      */
/* 12-9 */
form.validate .ng-invalid-required.ng-dirty { background-color: lightpink; }
form.validate .ng-invalid-email.ng-dirty { background-color: lightgoldenrodyellow; }
div.error { color: red; font-weight: bold; }