<!DOCTYPE html>
<html ng-app="exampleApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Forms</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap/bootstrap-theme.css"/>
    <link rel="stylesheet" href="ch12.1-12.11.css"/>

    <script src="/angular/angular.js"></script>
    <script src="defaultCtrl.js"></script>
</head>
<body>
<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <h3 class="panel-header text-danger"> To Do List</h3>
    <div class="well">
        <div class="radio" ng-repeat="button in ['01-11', '12-15']">
            <label ng-cloak>
                <input type="radio" ng-model="viewChapter.mode" value="{{button}}" ng-checked="$first"></input>
                {{button}}
            </label>
        </div>
    </div>
    <div ng-switch on="viewChapter.mode">
        <div ng-switch-when="01-11">
            <ng-include src="'ch12.1-12.11.html'"></ng-include>
        </div>
        <div ng-switch-when="12-15">
            <ng-include src="'ch12.12.html'"></ng-include>
        </div>
        <div ng-switch-default>
            <ng-include src="'ch12.1-12.11.html'"></ng-include>
        </div>
    </div>
</div>
</body>
</html>