<!DOCTYPE html>
<html ng-app="ch17App">
<head>
    <meta charset="UTF-8">
    <title>Chapter 17 (Advanced Directive Features)</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap/bootstrap-theme.css"/>
    <script src="/angular/angular.js"></script>
    <script src="01.ch17_main.js"></script>
    <script src="02.ch17_first.js"></script>
    <script src="03.ch17_second.js"></script>
    <script src="04.ch17_third.js"></script>
    <script type="text/ng-template" id="template">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>This is the panel</h4>
            </div>
            <div class="panel-body" ng-transclude>
            </div>
        </div>
    </script>
    <!-- 17-3 -->
    <script type="text/ng-template" id="productTemplate">
        <td>{{item.name}}</td>
        <td><input ng-model='item.quantity' /></td>
    </script>
    <!-- 17-6 -->
    <script type="text/ng-template" id="triTemplate">
        <div class="well">
            <div class="btn-group">
                <button class="btn btn-default">Yes</button>
                <button class="btn btn-default">No</button>
                <button class="btn btn-default">Not Sure</button>
            </div>
            <span class="error" ng-show="myForm.decision.$error.confidence">You need to be sure</span>
        </div>
    </script>
    <!-- 17-11 -->
    <style>
        *.error { color: red; font-weight: bold; }
    </style>
</head>
<body ng-controller="viewCtrl">
<div class="well">
    <div class="radio" ng-repeat="button in viewChapterList">
        <label ng-cloak>
            <input type="radio" ng-model="viewChapter.mode" value="{{button}}" ng-checked="$first">{{button}}</input>
        </label>
    </div>
</div>
<div class="panel panel-body">
    <ng-include src="viewHTML()"></ng-include>
</div>
</body>
</html>