<div class="panel panel-default" ng-controller="ch14FirstCtrl">
    <h4 class="text-success"> # exam.14-1</h4>
    <div class="panel-heading">
        <h3>
            Products <span class="label label-primary">{{products.length}}</span>
        </h3>
    </div>
    <div class="panel-body">
        Limit: <select ng-model="limitVal" ng-options="item for item in limitRange"></select>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
            <tr>
                <td>Name</td>
                <td>Category</td>
                <td>Expiry</td>
                <td class="text-right">Price</td>
            </tr>
            </thead>
            <tbody>
            <td colspan="3" class="bg-primary">함수를 사용한 필터링 (Fish || Beer)</td>
            <td class="bg-primary">지역화 통화값 표시</td>
            <tr ng-repeat="p in products | filter:selectItems">
                <td>{{p.name}}</td><td>{{p.category}}</td><td>{{p.expiry}}</td>
                <td class="text-right">{{p.price | currency}}</td>
            </tr>
            <td></td> <td></td> <td class="bg-primary">지역화 포멧팅(longDate)</td><td  class="bg-primary">문자열 리터럴 변경</td>
            <tr ng-repeat="p in products | limitTo:limitVal">
                <td>{{p.name}}</td><td>{{p.category}}</td>
                <td>{{getExpiryDate(p.expiry) | date:"longDate"}}</td>
                <td class="text-right">{{p.price | currency:"&"}}</td>
            </tr>
            <td></td> <td></td> <td class="bg-primary">지역화 포멧팅(shortDate)</td><td class="bg-primary">숫자필터: 소숫점 자리수</td>
            <tr ng-repeat="p in products | limitTo:limitVal">
                <td>{{p.name}}</td><td>{{p.category}}</td>
                <td>{{getExpiryDate(p.expiry) | date:"shortDate"}}</td>
                <td class="text-right">{{p.price | number:0}}</td>
            </tr>
            <td class="bg-primary">대문자</td> <td class="bg-primary">소문자</td>
            <td class="bg-primary">날자필터</td> <td></td>
            <tr ng-repeat="p in products | limitTo:limitVal">
                <td>{{p.name | uppercase}}</td>
                <td>{{p.category | lowercase}}</td>
                <td>{{getExpiryDate(p.expiry) | date: "yyyy년 MM월 dd일 이야 임마"}}</td>
                <td class="text-right">{{p.price |  currency}}</td>
            </tr>
            <td colspan="2" class="bg-primary">Json 표시 </td>
            <td colspan="2" class="bg-primary"> 필터링 category 'fish'</td>
            <tr ng-repeat="p in products | limitTo:limitVal | filter:{category:'Fish'}">
                <td colspan="4">{{p | json}}</td>
            </tr>
            <td colspan="4" class="bg-primary">항목 정렬 orderBy 'price', (+: 오름차순, -:내림차순)</td>
            <tr ng-repeat="p in products | orderBy:'-price'">
                <td>{{p.name}}</td> <td>{{p.category}}</td> <td>{{p.expiry}}</td>
                <td class="text-right">{{p.price |  currency}}</td>
            </tr>
            <td colspan="4" class="bg-primary">14-15 함수를 사용한 항목 정렬</td>
            <tr ng-repeat="p in products | orderBy:myCustomSorter">
                <td>{{p.name}}</td> <td>{{p.category}}</td> <td>{{p.expiry}}</td>
                <td class="text-right">{{p.price |  currency}}</td>
            </tr>
            <td colspan="4" class="bg-primary">14-16 다중 서술식을 활용한 정렬, 14-17 필터 체인</td>
            <tr ng-repeat="p in products | orderBy:[myCustomSorter, '+price'] | limitTo: 5">
                <td>{{p.name}}</td> <td>{{p.category}}</td> <td>{{p.expiry}}</td>
                <td class="text-right">{{p.price |  currency}}</td>
            </tr>
            <td colspan="4" class="bg-primary">14-20 커스텀 필터 적용</td>
            <tr ng-repeat="p in products | orderBy:[myCustomSorter, '+price'] | limitTo: 5">
                <td>{{p.name | labelCase}}</td>
                <td>{{p.category | labelCase:true }}</td>
                <td>{{p.expiry}}</td>
                <td class="text-right">{{p.price |  currency}}</td>
            </tr>
            <td colspan="4" class="bg-primary">14-21,22 collection filter</td>
            <tr ng-repeat="p in products | skip:2 | limitTo: 5">
                <td>{{p.name}}</td>
                <td>{{p.category}}</td>
                <td>{{p.expiry}}</td>
                <td class="text-right">{{p.price |  currency}}</td>
            </tr>
            <td colspan="4" class="bg-primary">14-24 필터 조합(함수에 여러 인자를 전달할 때 ':' 기호 사용)</td>
            <tr ng-repeat="p in products | skip : 2 : 5 ">
                <td>{{p.name}}</td>
                <td>{{p.category}}</td>
                <td>{{p.expiry}}</td>
                <td class="text-right">{{p.price |  currency}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>