<!DOCTYPE html>
<html ng-app="exampleApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Directives</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap/bootstrap-theme.css"/>
    <script src="/angular/angular.js"></script>
    <script>
        angular.module("exampleApp", [])
                .controller("defaultCtrl", function($scope){
                    $scope.data = {};
                    $scope.todos = [
                        { action: "Get groceries", complete: false},
                        { action: "Call plumber", complete: false},
                        { action: "Buy running shoes", complete: true},
                        { action: "Buy flowers", complete: false},
                        { action: "Call family", complete: false}
                    ];
                    $scope.viewFile = function() {
                        return $scope.showList ? "list.html" : "table.html";
                    };

                    $scope.reportChange = function() {
                        console.log("Displayed content: " + $scope.viewFile());
                    };
                });
    </script>
    <style>
        .odd { background-color:lightcoral }
        .even { background-color:lavenderblush }
    </style>
</head>
<body>
<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
    <h3 class="text-danger">To Do List</h3>

    <h4 class="text-success"># exam. 10-2</h4>
    <div class="alert alert-success">
        <div>There are {{todos.length}} items</div>
        <div>There are <span ng-bind="todos.length"></span> tiems</div>
        <div ng-bind-template="First: {{todos[0].action}}. Second: {{todos[1].action}}"></div>
        <div ng-non-bindable>AngularJS used {{ and }} characters for templates</div>
    </div>

    <h4 class="text-info"># exam. 10-3</h4>
    <div class="jumbotron">
        <div class="well">
            <div>The first item is : {{todos[0].action}}</div>
        </div>
        <div class="form-group well">
            <label for="firstItem">Set First Item:</label>
            <input  name="firstItem" class="form-control" ng-model="todos[0].action"/>
        </div>
    </div>
    <h4 class="text-warning"># exam. 10-4,5,6</h4>
    <div class="panel panel-primary panel-bordered">
        <table class="table table-striped table-bordered">
            <thead>
            <tr class="active">
                <th>Action</th>
                <th>Done</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in todos" class="success">
                <td> {{item.action}} </td>
                <td> {{item.complete}} </td>
            </tr>
            <tr ng-repeat="item in todos" class="info">
                <td ng-repeat="prop in item">{{prop}}</td>
            </tr>
            <tr ng-repeat="item in todos" class="warning">
                <td ng-repeat="(key,value) in item">{{key}}={{value}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4 class="text-primary"># exam. 10-8,9,10</h4>
    <div class="panel">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Action</th>
                <th>Done</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in todos" ng-class="$odd ? 'odd':'even'">
                    <td>{{$index + 1}}</td>
                    <td>{{item.action}}</td>
                    <td><span ng-if="$first || $last">{{item.complete}}</span></td>
                </tr>
                </tbody>
                <tbody>
                <tr ng-repeat-start="item in todos">
                    <td>This is item {{$index}}</td>
                </tr>
                <tr>
                    <td>The action is : {{item.action}}</td>
                </tr>
                <tr ng-repeat-end>
                    <td>Item {{$index}} is {{item.complete ? '':'not '}}complete</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h4 class="text-info"># exam. 10-15,16,17,18</h4>
    <div class="well">
        <div class="radio" ng-repeat="button in ['None', 'Table', 'List']">
            <label ng-cloak>
                <input type="radio" ng-model="data.mode"
                        value="{{button}}" ng-checked="$first">
                </input>
                {{button}}
            </label>
        </div>
    </div>
    <div ng-switch on="data.mode" ng-cloak>
        <div ng-switch-when="Table">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Action</th>
                    <th>Done</th>
                </tr>
                </thead>
                <tr ng-repeat="item in todos" ng-class="$odd ? 'odd' : 'even'">
                    <td>{{$index + 1}}</td>
                    <td ng-repeat="prop in item">{{prop}}</td>
                </tr>
            </table>
        </div>
        <div ng-switch-when="List">
            <ol>
                <li ng-repeat="item in todos">{{item.action}} <span ng-if="item.complete">(Done)</span>
                </li>
            </ol>
        </div>
        <div ng-switch-default>Select another option to display a layout</div>
    </div>
</div>
</body>
</html>